*{
    margin: 0;
    padding: 0;
}
.main-container{
    display: flex;
}

.lista-contactos{
    background-color: #fff;
    color: #1b1f21;
    width: 20vh;
    min-height: 100vh;
    min-width: 200px;
    font-family: 'Roboto', sans-serif;
}

.imagen-grande{
    background-color: #e8ebe4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open-Sans', sans-serif;
}

.imagen-grande img{
    width: 20%;
}

.usuario-conectado{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    border: 1px solid #cdcdcd;
}

.opciones-usuario-conectado{
    display: flex;
    justify-content: end;    
}

.opciones-usuario-conectado i{
    margin: 5px;
    color: gray;
}

.datos-usuario-conectado{
    width: 100%;
    padding: 0 0.5rem;
}
.nombre-usuario-conectado{
    font-size: 14px;
    font-weight: bold;
}
.status-usuario-conectado{
    font-size: xx-small;
    color: gray;
}

.btn-nuevo-chat{
    background-color: #a491d2;
    color: white;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    border: 0;
}

.div-btn-nuevo-chat{
    padding: 1.5rem;
    border: 1px solid #cdcdcd;
}
.avatar-usuario-conectado img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.contacto{
    display: flex;
    padding: 1rem;
    border: 1px solid #cdcdcd;
    align-items: center;
}

.avatar-usuario-contacto img{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.datos-usuario-contacto{
    padding: 0.4rem;
}
.nombre-usuario-contacto{
    font-size: 12px;
}
status-usuario-contacto{
    font-size: 12px;
}

.texto-imagen-grande{
    font-size: 45px;
    padding: 1rem;
}

.texto-imagen-grande-2{
    font-size: 16px;
    padding: 0.5rem;
}